{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="container pt-4 pb-2 " style="background-color: #035715;color:white;">
	<div class="row text-center font-weight-bold" style="font-size: 20px">
		<div class="col-4 col-lg-4 col-md-4 col-sm-6 ">
			<p>20 Kg</p>
		</div>
		<div class="col-4 col-lg-4 col-md-4 col-sm-6 ">
			<p>{{city.city_name}}</p>
		</div>
		<div class="col-4 col-lg-4 col-md-4 col-sm-6 ">
			<p>01/01/2020</p>
		</div>
	</div>
</div>

<div class="container text-center mt-3">
{% for rotate_data in valid_data %}
		<div class="row mt-2 mb-2" >
			<div class="col-4 col-lg-4 col-md-4 col-sm-4 ">
				<b>{{rotate_data.item}}</b>
			</div>
			<div class="col-4 col-lg-4 col-md-4 col-sm-4 ">
				<i class="fa fa-caret-down mr-2" style="font-size: 24px;color: red"></i><b>{{rotate_data.lower_price}}</b>
			</div>
			<div class="col-4 col-lg-4 col-md-4 col-sm-4 ">
				<i class="fa fa-caret-up mr-2" style="font-size: 24px;color:#035715"></i><b>{{rotate_data.upper_price}}</b>
			</div>
		</div>
<hr>
	
{% endfor %}
	</div>
{% endblock body %}