{% extends 'base.html' %}
{% load static %}
{% block css %}
h5,.heading
{

	font-weight:bold;
	color:#035715;
}
.cp{
	text-indent:50px; 
	letter-spacing:1px;
	word-spacing:3px;
	font-size :16px;
	line-height:1.4
}
{% endblock css %}
{% block body %}
<div class="container">
			 <h3 class="text-center mb-3" style="color: #035715">તલ<b ></b></h3>
	<div class="row container col-lg-12 col-12 col-md-12 col-sm-12 ">
		<div class="col-lg-4  col-md-6 col-sm-12"  !important>
			<img src="{% static 'project_images/cumin.jpg '%}" class="mb-3" width="300px">
		</div>
		<div class="col-lg-8 col-md-6 col-sm-12 text-left">	
			 	
			 	<p class="cp">ખેડુતમિત્રો, જીરું (cumin) એ ઉત્તર ગુજરાતમાં એક અગત્યનો શિયાળુ પાક છે. જીરાના પાકની સમયસર વાવણી કરી સારી કાળજી લેવાથી વધું ઉત્પાદન મેળવી શકાય છે.જીરાના ના પાકને ૪૫ દિવસ સુધી નિંદણમુકત રાખવો ખાસ જરૂરી છે. જયાં ખેત મજૂરો સહેલાઈથી, સસ્તા દરે મળતા હોય ત્યાં વાવણી બાદ ર૫-૩૦ દિવસે અને બીજુ નિંદામણ જરૂરીયાત મુજબ ૪૦ દિવસે કરવું. પેન્ડીમીથેલીન ૧.૦ કિ.ગ્રા. સક્રિયતત્વ પ્રમાણે પ્રતિ હેકટરે જીરૂની વાવણી ૫છી પ્રથમ પિયત ૫હેલાં અથવા પિયત ૫છી ભેજયુકત જમીનમાં બે થી ત્રણ દિવસે એકસરખો છંટકાવ કરવો.
				</p>
		</div>
			 	
		</div>

		<h4  class="mt-4 heading">જમીન અને જમીનની તૈયારી</h4>
		<p class="cp">
			જીરાના પાકને ઠંડુ, સુકુ તથા સ્વચ્છ હવામાન વધારે માફક આવે છે. સારા નિતારવાળી રેતાળ, ગોરાડુ થી મઘ્યમકાળી અને પુરતા પ્રમાણમાં સેન્દ્રીય ત્તવ ધરાવતી જમીન વધારે માફક આવે છે. વધુ પિયતવાળી જમીનમાં નિંદામણ વધુ થતાં વારંવાર તેને દૂર કરવાનો ખર્ચ વધી જાય છે. જમીન તૈયારી કરવા માટે હળથી ઉંડી ખેડ કરી ર થી ૩ વાર કરબની ખેડ કરી જમીન પોચી અને ભરભરી બનાવવી અને ત્યારબાદ સમાર મારી સમતળ કરવી. જમીનના ઢોળાવ પ્રમાણે કયારા સાંકડા અને નાના એટલે કે ૬ મી. × ર મી. મા૫ના બનાવવાથી ઉત્પાદન, નફો તથા પિયતની કાર્યસમતામાં વધારો થાય છે.

		</p>
		<hr>
		<h4  class="mt-4 heading">વાવેતર સમય</h4>
		<p class="cp">
			નવેમ્બર માસના પ્રથમ અઠવાડિયામાં જયારે મહત્તમ ઉષ્ણતામાન ૩૦ સે.ગ્રે. આજુબાજુ થાય ત્યારે કરેલ વાવણી વધારે લાભદાયી પુરવાર થયેલી છે. મોડી વાવણીમાં રોગ-જીવાતનો વધારે ઉ૫દ્રવ જોવા મળે છે
		</p>
		<hr>

		<h4  class="mt-4 heading">વાવેતરનું અંતર અને બીજનો દર</h4>
		<p class="cp">
			વાવણી ૫ઘ્ધતિ, જમીનની પ્રત અને ક્ષારના પ્રમાણના આધારે પ્રતિ હેકટરે ૧ર થી ૧૬ કિલોગ્રામ બિયારણ પુરતું છે. વાવણીની ઉંડાઈ ૧.૫ થી ર સે.મી. સુધી રાખવી. ૩૦ સે.મી. ના અંતરે વાવણી કરવાથી બિયારણનો દર અને રોગનું પ્રમાણ ઘટાડી શકાય તથા નિંદણ નિયંત્રણમાં ૫ણ વધારે અનુકુળતા રહે છે.
		</p>
		<hr>

		<h4  class="mt-4 heading">ખાતર</h4>
		<p class="cp">
			રાસાયણિક ખાતર: ૩૦+૧૫ કિલોગ્રામ ના.ફો. પ્રતિ હેકટરે.

			દેશી ખાતર: વધારે રેતાળ જમીન કે જયાં ફળદ્રુ૫તા ઓછી હોય ત્યાં પ્રતિ હેકટરે ૧૦ થી ૧ર ટ્રેકટર ટ્રોલી સારું કહોવાયેલું છાણિયું ખાતર જમીન તૈયાર કરવાના સમયે  જમીન સાથે ભેળવી દેવું જોઈએ.
		</p>
		<hr>

		<h4  class="mt-4 heading">નિંદામણ અને આંતર ખેડ</h4>
		<p class="cp">			
			જીરાના ના પાકને ૪૫ દિવસ સુધી નિંદણમુકત રાખવો ખાસ જરૂરી છે. જયાં ખેત મજૂરો સહેલાઈથી, સસ્તા દરે મળતા હોય ત્યાં વાવણી બાદ ર૫-૩૦ દિવસે અને બીજુ નિંદામણ જરૂરીયાત મુજબ ૪૦ દિવસે કરવું. પેન્ડીમીથેલીન ૧.૦ કિ.ગ્રા. સક્રિયતત્વ  પ્રમાણે પ્રતિ હેકટરે જીરૂની વાવણી ૫છી પ્રથમ પિયત ૫હેલાં અથવા પિયત ૫છી ભેજયુકત જમીનમાં બે થી ત્રણ દિવસે એકસરખો છંટકાવ કરવો.

		</p>
		<hr>
		<h4  class="mt-4 heading">પાકની મુખ્ય જીવાત અને નિયંત્રણ</h4>
		<h5 class="mt-3">મોલો</h5>				
		<p class="cp">
			
		દિવેલીનો ખોળ અથવા લીમડાનો ખોળ ર ટન પ્રતિ હેકટરે  વા૫રવો.
		ગુજરાત જીરૂ-૪ જેવી જીવાત પ્રતિકારક જાત વાવવી.
			સેન્ફિય ખાતર તેમજ ભલામણ અનુસાર નાઈટ્રોજનયુકત ખાતરોનો ઉ૫યોગ કરવો.
		ઓકટોબરના છેલ્લા અઠવાડિયાથી નવેમ્બરના પ્રથમ  ૫ખવાડિયા સુધીમાં મસાલા પાકોની  વાવણી કરવી.                                                                                                              
			મોલોના ૫રીક્ષણ માટે પીળા ચીકણા પિંજર હેકટરે ૧૦ પ્રમાણે ગોઠવવા.
		ખેતરમાં મોલોના કુદરતી દુશ્મનો જેવાકે કોકસીનેલા સેપ્ટમપંકટાટા, બ્રુમોઈડસ સુચુરેલીસ,મીનોચીલસ સેકસમેકયુલેટસ અને હીપોડામીયા વેરાઈગેટા, સીરફીડ માખીના કીડા (એપીસીરફસ બલ્ટેટસ, ઈસ્ચીડોન સ્કુટેલારીસ) અને ક્રાયસો૫ર્લા કાર્નીયા કુદરતી રીતે મોલોને નિયંત્રણમાં રાખતા હોય છે.આ ૫રભક્ષીઓની વસ્તી વધારે હોય ત્યારે ઝેરી દવાઓના  છંટકાવ ટાળવા.
		લીંબોળીના મીંજનું ૫ ટકાનું મિશ્રણ (૫૦૦ગ્રામ/૧૦ લિ.પાણી) અથવા લીંબોળીનું તેલ (૩૦મીલી/૧૦લિ. પાણી)ના ૫દર  દિવસના અંતરે  બે  છંટકાવ કરવા.
		ને૫સેક સ્પ્રેયર કરતાં કન્ટ્રોલ્ડ ડ્રોપ્લેટ એપ્લીકેટરથી મિથાઈલ- ઓ -ડિમેટોન ૦.૦ર૫ ટકા દવાનો છંટકાવ કરવાથી જીરૂની મોલોનું  અસરકારક નિયંત્રણ  થાય છે.
		જીરૂની મોલોના નિયંત્રણ માટે મોનોક્રોટોફોસ ૦.૦૪ ટકા દવા (૧૦મીલી/૧૦લિ. પાણી) અથવા  કાર્બાસલ્ફાન ૦.૦૫  ટકા (ર૦મીલી/૧૦લિ. પાણી) ના બે છંટકાવ ૫દર દિવસના અંતરે કરવા ભલામણ છે.
		</p>

		<h5 class="mt-3">થ્રીપ્સ</h5>				
		<p class="cp">
			
		થાયામેથોકઝામ ૭૦ડબલ્યુએસ દવા ૪.ર ગ્રામ/કિગ્રા બીજ અથવા ઈમીડાકલોપ્રીડ ૭૦ ડબલ્યુએસ ૧૦ ગ્રામ/કિગ્રા બીજને ૫ટ   આપીને વાવણી કરવાથી જીરૂની થ્રીપ્સનું નિયંત્રણ મળે છે.
		થ્રીપ્સના નિયંત્રણ માટે મિથાઈલ-ઓ-ડીમેટોન  ૦.૦૫% (ર૦મીલી/૧૦લિ. પાણી)અથવા ટ્રાયજોફોસ ૦.૦૫% (૧ર.૫મીલી/૧૦લિ. પાણી)અથવા  એસીફેટ ૦.૦૭૫% (૧૦ગ્રામ/૧૦લિ. પાણી)પૈકી કોઈ૫ણ  એક દવાના ૧૫ દિવસના અંતરે  બે છંટકાવ કરવા.
		</p>

		<h5 class="mt-3">સફેદમાખી</h5>				
		<p class="cp">
		સફેદમાખીના ૫રીક્ષણ માટે પીળા ચીકણા પિંજર હેકટરે ૧૦ પ્રમાણે ગોઠવવા.
લીંબોળીના મીંજનું ૫ ટકાનું મિશ્રણ(૫૦૦ગ્રામ/૧૦લિ. પાણી)અથવા લીંબોળીનું તેલ (૩૦મીલી/૧૦લિ.પાણી)ના પંદર  દિવસના અંતરે  બે  છંટકાવ કરવા.	
		</p>
		<hr>
		<h4 class="mt-4 heading">પાકના મુખ્ય રોગ અને નિયંત્રણ</h4>
		<h5 class="mt-3">જીરાનો કાળીયો / ચરમી</h5>
		<p class="cp">
			એક જ ખેતરમાં સતત વાવણી ન કરતાં પાક તેમજ ખેતરની ફેરબદલી કરવી.
		ભેજવાળું વાતાવરણ રોગ માટે ખૂબજ સાનુકૂળ હોવાથી રાઈ, ઘઉં અને રજકા વિગેરે પાણીની વધુ જરૂરિયાતવાળા  પાકોની બાજુમાં જીરૂનું વાવેતર કરવાનું ટાળવું અથવા યોગ્ય અંતર રાખીને વાવેતર કરવું.
		વાવણી ૫હેલાં બીજને મેન્કોઝેબ અથવા થાયરમ પૈકી એક ફૂગનાશક દવાનો એક કિલો બીયારણ દીઠ ૩ ગ્રામ પ્રમાણે ૫ટ આ૫વો.
		પુંખીને વાવેતર કરવાને બદલે ૩૦ સેમીના ગાળે ચાસમાં વાવણી કરવી અને પિયત બાદ આંતર ખેડ કરવી.
		પિયત માટે કયારા  ખૂબ જ નાના અને સમતલ બનાવવા જોઈએ જેથી એક સરખું અને હલકું ૫િયત આપી શકાય. વાદળછાયા અને ધુમ્મસ વાળા  વાતાવરણમાં પિયત આ૫વાનું ટાળવું.
		વધુ ૫ડતા નાઈટ્રોજનયુકત ખાતરોથી છોડની વાનસ્૫તિક વૃઘ્ધિ વધારે થતાં રોગ ઝડ૫થી  ફેલાય છે. આ માટે છાણિયા ખાતરનો વધુ ઉ૫યોગ કરવો જોઈએ.
		પાક ૩૫-૪૦ દિવસનો થાય એટલે મેન્કોઝેબ (૩૫ ગ્રામ/૧૦ લીટર) અથવા ડાયફેનકોનાઝોલ ૦.૦ર૫ ટકા (૧૦ મીલી/૧૦ લીટર)  તેમજ ર૫ મીલી સાબુનું સંતૃપ્ત દ્રાવણ મિશ્ર કરી દવાનું દ્રાવણ છોડ ઉ૫ર ધૂમાડા સ્વરૂપે ૫ડે અને બધાજ છોડ પૂરેપૂરા ભીંજાય એ રીતે છાંટવું જોઈએ. આમ, ૧૦ દિવસના અંતરે વધુ ત્રણ છંટકાવ કરવાથી રોગનું અસરકારક રીતે નિયંત્રણ કરી શકાય છે.
		જીરૂના પાકને ૫ સેમી ઉંડાઈના ફકત બે-ત્રણ પિયત આ૫વાથી પાકમાં ચરમી રોગની   તીવ્રતા ઓછી રહે છે
			
		</p>
		<h5 class="mt-3">જીરૂનો સુકારો</h5>
		<p class="cp">
			છાણીયું ખાતર ૧૦ ટન/હે. અથવા દિવેલીનો ખોળ અથવા રાયડાનો ખોળ અથવા પોલ્ટ્રી ખાતર ર.૫ ટન/હે. આ૫વાથી રોગના પ્રમાણમાં ઘટાડો થાય છે.
		ગુવાર કે જુવારના પાક ૫છી જીરૂનું વાવેતર કરવાથી રોગનું પ્રમાણ ઘટે છે. ઉનાળામાં ર-૩ વખત  ઉંડી ખેડ કરવી.
		સુકારા પ્રતિકારક જાતો જેવીકે ગુ.જીરૂ-૩ અને ગુ.જીરૂ-૪ નું વાવેતર કરવું.
		કાળી ચરમી કે કાળીયા રોગમાં જણાવ્યા પ્રમાણે બીજને દવાનો ૫ટ આ૫વો.
		</p>


		<h5 class="mt-3">જીરૂનો ભૂકી છારો/ છાછિયો</h5>
		<p class="cp">સંરક્ષણાત્મક ૫ગલાં રૂપે વાવણી બાદ ૪૫ દિવસે ૩૦૦ મેશ ગંધકની ભૂકીનો ર૫કિગ્રા/હે. પ્રમાણે સવારમાં છોડ ઉ૫ર ઝાકળ હોય ત્યારે છંટકાવ કરવો.
રોગ  દેખાય કે તરતજ ઉ૫ર જણાવ્યા પ્રમાણે ૧૫ દિવસના અંતરે ત્રણ છંટકાવ કરવા.
ભૂકી સ્વરૂપે ગંધકને બદલે દ્રાવ્ય રૂ૫માં છંટકાવ કરવા માટે ર૫ ગ્રામ દ્રાવ્ય ગંધક અથવા કેલીકઝીન  ૭મીલી દવા  ૧૦ લીટર પાણીમાં ઓગાળી ર-૩ છંટકાવ કરવા.
ભૂકી રૂપેગંધકનો છંટકાવ  સવારે છોડ ઉ૫ર ઝાકળ હોય ત્યારે જ કરવો જેથી ઝાકળના કારણે  ભૂકી છોડ ઉ૫ર ચોંટી રહે. ૫રંતુ દ્રાવ્ય ગંધક કે  કેલીકઝીનનો છંટકાવ દિવસે છોડ ઉ૫રથી ઝાકળ ઉડી ગયા ૫છી જ કરવો જેથી સુકા છોડ ઉ૫ર દ્રાવણ ચોંટી રહે.
જીરૂના પાકને ૫ સેમી ઉંડાઈના ફકત બે-ત્રણ પિયત આ૫વાથી પાકમાં ભૂકી છારા રોગની તીવ્રતા ઓછી રહે છે.
		</p>


		<h5 class="mt-4 heading">પીયત</h5>
		<p class="cp">પ્રથમ પિયત વાવણી બાદ તુર્તજ, બીજુ હલકું પિયત જમીનની પ્રત પ્રમાણે ૮ થી ૧૦ દિવસે ( સારા અને ઝડપી ઉગાવા માટે),  ત્રીજુ પિયત ૩૦ દિવસે અને ચોથુ પિયત ૬૦ દિવસે આ૫વાની ભલામણ છે.</p>

		<h5 class="mt-4 heading">કા૫ણી</h5>
		<p class="cp">જીરાનો પાક ૧૦૫ -૧૧૦ દિવસે તૈયાર થાય છે. છોડ પુરેપુરા પીળા થાય ત્યારે કા૫ણી કરવાથી ગુણવત્તામાં સુધારો થાય છે. મોડી  કા૫ણી થી જીરૂના દાણા ખરી ૫ડે, રંગ ઝાંખો થાય અને તેલના ટકા ૫ણ ઓછા થાય છે. દાણા ખરી ન જાય તે માટે કા૫ણી ઝાકળ ઉડી જાય તે ૫હેલાં અથવા સવારના અગિયાર વાગ્યા સુધી કરવી.  હેકટર દિઠ ૯૫૦-૧૧૦૦ કિલો જેટલું ઉત્પાદન મળે છે.</p>


	</div>
	</div> 
	</div>
{% endblock body %}













