{% extends 'base.html' %}
{% load static %}
{% block css %}
h5,.heading
{

	font-weight:bold;
	color:#035715;
}
.cp{
	text-indent:50px; 
	letter-spacing:1px;
	word-spacing:3px;
	font-size :16px;
	line-height:1.4
}
{% endblock css %}
{% block body %}
<div class="container">
			 <h3 class="text-center mb-3" style="color: #035715">બાજરી<b ></b></h3>
	<div class="row container col-lg-12 col-12 col-md-12 col-sm-12 ">
		<div class="col-lg-4  col-md-6 col-sm-12"  !important>
			<img src="{% static 'project_images/millet.jpg '%}" class="mb-3" width="300px">
		</div>
		<div class="col-lg-8 col-md-6 col-sm-12 text-left">	
			 	
			 	<p class="cp">બાજરી (pearl millet) એ ગુજરાત રાજયનો અગત્યનો ધાન્ય પાક છે. અને બીજા ધાન્યપાકોની સરખામણીમાં ભેજની ખેંચની પરિસ્થિતિનો સૌથી વધારે પ્રતિકાર કરી શકે  છે. આથી મુખ્યત્વે રાજયના સુકા અને અર્ધ-સુકા વિસ્તારોમાં ખરીફ ઋતુમાં વરસાદ આધારીત પાક તરીકે વાવવામાં આવે છે. જયાં ખેત મજૂરો સહેલાઈથી, સસ્તા દરે મળતા હોય ત્યાં વાવણી બાદ ર૫-૩૦ દિવસે અને બીજુ નિંદામણ જરૂરીયાત મુજબ ૪૦ દિવસે કરવું. પેન્ડીમીથેલીન ૧.૦ કિ.ગ્રા. સક્રિયતત્વ પ્રમાણે પ્રતિ હેકટરે બાજરીની વાવણી ૫છી પ્રથમ પિયત ૫હેલાં અથવા પિયત ૫છી ભેજયુકત જમીનમાં બે થી ત્રણ દિવસે એકસરખો છંટકાવ કરવો.ચોમાસુ બાજરીમાં સામાન્ય રીતે પિયતની ભલામણ કરવામાં આવતી નથી કારણકે બાજરી મુખ્યત્વે વરસાદ આધારીત પાક છે. વરસાદની ખેંચ જણાય તો એક પુરક પિયત આપવાની ભલામણ છે
				</p>
		</div>
			 	
		</div>

		<h4  class="mt-4 heading">જમીન અને જમીનની તૈયારી</h4>
		<p class="cp">
		હળની એક તથા કળીયાની બે થી ત્રણ ખેડ.
૪પ સે.મી. અથવા ૬૦ સે.મી. ના અંતરે ચાસ ઉદ્યાડવા.
હેકટરે ૧૦ ટન દેશી ખાતર પ્રાથમીક ખેડ પહેલા છાંટો અને ખેડથી જમીનમાં ભેળવો અથવા ચાસે ખાતર ભરો.
		</p>
		<hr>
		<h4  class="mt-4 heading">વાવેતર સમય</h4>
		<p class="cp">
			વાવણી લાયક વરસાદ થયે તુરંત જ વાવેતર કરવું. જેથી વધુ ઉત્પાદન મળે,  રોગ-જીવાતનો ઉપદ્રવ ઓછો રહે અને પછીનો પાક લેવા માટે જમીન સમયસર ખાલી કરી શકાય.
જો વાવણી લાયક વરસાદ ૧પ જુલાઈ પછી થાય તો વહેલી પાકતી જાતનું વાવેતર કરવું.
		</p>
		<hr>

		<h4  class="mt-4 heading">વાવેતરનું અંતર અને બીજનો દર</h4>
		<p class="cp">
			હેકટરે બિયારણ નો દર ૪ કિ.ગ્રા. (ક્ષાારીય,  ક્ષારીય ભાસ્મીક અને ભાસ્મીક જમીન માટે ૬ કિ.ગ્રા./હેરટર) પ્રમાણે રાખી દંતાળથી બે હાર વચ્ચે ૪પ  અથવા ૬૦ સે.મી. અંતર રહે અને બીજ જમીનમાં ૪ સેં.મી.થી વધારે ઉંડે ન જાય તે રીતે વાવેતર કરવું.</p>
		<hr>

		<h4  class="mt-4 heading">ખાતર</h4>
		<p class="cp">
			દેશી ખાતર – હેકટરે ૧૦ ટન દેશી ખાતર પ્રાથમીક ખેડ પહેલા છાંટો અને ખેડથી જમીનમાં ભેળવો અથવા  ચાસે ખાતર ભરો.
રાસાયણિક ખાતર – હેકટર દીઠ ૮૦ કિ.ગ્રા. નાઈટ્રોજન અને ૪૦ કિ.ગ્રા. ફોસ્ફરસ આપવાની ભલામણ છે. જેમાંથી અડધો નાઈટ્રોજન અને બધોજ ફોસ્ફરસ વાવેતર અગાઉ ચાસમાં  નાખવો બાકીનો અડધો નાઈટ્રોજન પાક એક માસનો થાય ત્યારે નિંદામણ અને પારવણી કર્યા બાદ પૂરતી ખાતર તરીકે પુરતો ભેજ હોઈ ત્યારે જ આપવા.
જૈવિક ખાતર – હાઈબ્રીડ બાજરીના પાકમાં ચાર કિ.ગ્રા. બીજમાં ર૦૦ ગ્રામ  એઝોટોબેકટર અથવા એઝોસ્પાઈરીલમ કલ્ચર વડે બીજ માવજત આપવામાં આવે તો ભલામણ કરેલ નાઈટ્રોઝોનયુકત રાસાયણીક ખાતરનો અડધો જથ્થો (૪૦ કિ.ગ્રા./ હે. ) બચાવી શકાય છે.
		</p>
		<hr>

		<h4  class="mt-4 heading">નિંદામણ અને આંતર ખેડ</h4>
		<p class="cp">			
			પાક ૧પ   દિવસનો થાય ત્યારે પારવણીની સાથો સાથ હાથ નિંદામણકરી, પાકને નિંદણ રહીત કરવો. પાક ઉગ્યા બાદ દશેક  દિવસથી નિંધલમાં આવે ત્યાં ‘સુધીમાં પાકમાં નિંદામણના નિયંત્રણ માટે અને જમીનની ભૈાતિક પરિસ્થિતિ સારી રહે તે માટે બે થી ત્રણ આંતર  ખેડ કરવી. જરુર જણાય તો ફરી નિંદામણ કરવું.
જે વિસ્તારમાં મજુરોની અછત હોય તે વિસ્તારમાં નિંદામણનાશક દવા એટ્રોઝોન હેકટર દીઠ ૦.પ૦૦ કિ.ગ્રા.હેકટરે સક્રિય તત્વ મુજબ વાવણી બાદ તુરત જ ( પિ્ર. ઈમરજન્સ તરીકે ) પરંતુ બીજના  સ્ફુરણ પહેલાં પ૦૦ લિટર પાણીમાં ઓગાળીને છંટકાવ કરવાની ભલામણ કરવામાં આવે છે.
		</p>
		<hr>
		<h4 class="mt-4 heading">પાકના મુખ્ય રોગ અને નિયંત્રણ</h4>
		
		<p class="cp">
		બાજરીના પાકનું વહેલું વાવેતર કરવાથી રોગોનો ઉપદ્રવ મહદઅંશે ઘટે છે.

કુતુલ – પ્રતિકારક જાતોનું વાવેતર કરવું. બીજને એપ્રોન ૩પ એસ.ડી.  ૬ ગ્રામ/ કિગ્રા અથવા રીડોમીલ ૮ ગ્રામ/કિગ્રા. દવાનો પટ આપવો.
અંગારિયો(સ્મટ) – રોગના નિયંત્રણ માટે બીજને પારા યુકત દવાનો પટ આપી વાવેતર કરવું.
ગુંદરીયો (અરગટ) – જો બિયારણમાં અરગટની પેશીઓ રહેલી હોય તો બીજને ર૦ ટકા મીઠાનાં દ્રાવણમાં બોળી, ચોખ્ખા પાણીથી ધોઈ,સુકવ્યા બાદ થાયરમ ૩ ગ્રામ/કિ.ગ્રા. દવાનો પટ આપી વાવેતર કરવુ.
ગેરૂ – રોગની શરુઆતથી ૧પ દિવસનાં અંતરે ૦.ર ટકા મેન્કોઝેબ અથવા ૦.ર ટકા  ઝાયનેબનાં બે છંટકાવ કરવા         	
		</p>
		

	</div>
	</div> 
	</div>
{% endblock body %}













