{% extends 'base.html' %}
{% load static %}
{% block css %}
h5,.heading
{

	font-weight:bold;
	color:#035715;
}
.cp{
	text-indent:50px; 
	letter-spacing:1px;
	word-spacing:3px;
	font-size :16px;
	line-height:1.4
}
{% endblock css %}
{% block body %}
<div class="container">
			 <h3 class="text-center mb-3" style="color: #035715">તલ<b ></b></h3>
	<div class="row container col-lg-12 col-12 col-md-12 col-sm-12 ">
		<div class="col-lg-4  col-md-6 col-sm-12"  !important>
			<img src="{% static 'project_images/sesame.jpg '%}" class="mb-3" width="300px">
		</div>
		<div class="col-lg-8 col-md-6 col-sm-12 text-left">	
			 	
			 	<p class="cp">
			 		
			 	એક તેલીબિયાં વર્ગની વનસ્પતિ છે. વનસ્પતિશાસ્ત્ર પ્રમાણે તે સપુષ્પી વનસ્પતિના સિસેમમ ગોત્રમાં આવે છે. ભારતમાં અને આફ્રિકામાં તેની અસંખ્ય જંગલી જાતો મળી આવે છે. ઉષ્ણકટિબંધના વિસ્તારોમાં તે સારી રીતે કેળવાય છે.

				તલને સૌથી જૂના ખેતી કરીને પકવવામાં આવતા તેલીબિયાં તરીકે ગણવામાં આવે છે અને ૩,૦૦૦ વર્ષથી પણ વધુ સમયથી તેની માવજત થતી હોવાનું જાણમાં છે. તલ સુષ્કતા પ્રત્યે ખૂબ સારી સહિષ્ણુતા ધરાવે છે, એટલે કે સુકા વિસ્તારમાં તે સારી રીતે ઉગી શકે છે. જ્યાં બીજો કોઈ પાક થઈ ન શકતો તેવા વિસ્તારમાં તે સરળતાથી ઉગી શકે છે અને માટે અંગ્રેજીમાં તેને સર્વાઇવર ક્રોપ (survivor crop) તરીકે પણ ઓળખવામાં આવે છે.

				બધાં તેલીબિયામાં તલ સૌથી વધુ તેલ ધરાવે છે. તલનું તેલ મીઠું હોય છે અને તે કારણે દુનિયાના લગભગ દરેક ભાગમાં ખાધ્યતેલ તરીકે વપરાય છે[૩][૪].

				અન્ય સુકામેવા (નટ્સ-Nuts) અને ખાધ્ય પદાર્થોની જેમજ તલ પણ અમુક માણસોમાં એલર્જી પેદા કરી શકે છ.

				૨૦૧૦ની સાલમાં વિશ્વમાં તલનું કુલ ઉત્પાદન ૩૮.૪ લાખ ટન થયું હતું અને મ્યાનમાર (બર્મા) સૌથી મોટો ઉત્પાદક દેશ હતો. ભારત સૌથી મોટો નિકાસકર્તા અને જાપાન સૌથી મોટો આયાતકર્તા દેશ હતો.
				</p>
		</div>
			 	
		</div>

		<h4  class="mt-4 heading">જમીન અને જમીનની તૈયારી</h4>
		<p class="cp">પાક ભારે વાતાવરળની પ્રતિકુળતા સામે ટકી શકતો નથી, આ પાકને ગોરાડુ અને મધ્ય્મ કાળી જમીન વધુ માફક આવે છે.

		રોગજીવાતનો ઉપદ્રવ ઓછો કરવા અને સારા વિકાસ માટે આગલા પાકના અવશેષો દૂર કરી હળની ૧ ખેડ અને કરબ ની ૨ થી ૩ ખેડ કરી જમીન સમતલ અને ભરભરી બનાવવી.


		</p>
		<hr>
		<h4  class="mt-4 heading">બિયારણ, બીજદર અને બીજ માવજત</h4>
		<p class="cp">આપની મહેનત પર બીજજન્ય ફૂગ પાણીના ફેરવે તે માટે વાવણી પહેલા બીજને 3-4 ગ્રામ થાયરમ/કિલો બીજ પ્રમાણે પટ આપી વાવેતર કરવું.પાકમાં ફુલની શરૂઆત થાય ત્યારે પાળા ચઢાવવા.ફૂલ આવે ત્યારે આંતર ખેડ કરવું નહી.
		છોડની પૂરતી સંખ્યા જાળવવા છોડ જ્યારે 12-15 સેમી ઊંચાઈના થાય ત્યારે બે છોડ વચ્ચે આશરે 15 સેમી જેટલુ અંતર રાખી પારવણી કરવી.
		</p>
		<hr>

		<h4  class="mt-4 heading">વાવેતર સમય, અંતર અને પધ્ધતિ</h4>
		<p class="cp">
			પાક ભારે વાતાવરળની પ્રતિકુળતા સામે ટકી શકતો નથી, આ પાકને ગોરાડુ અને મધ્ય્મ કાળી જમીન વધુ માફક આવે છે.

			રોગજીવાતનો ઉપદ્રવ ઓછો કરવા અને સારા વિકાસ માટે આગલા પાકના અવશેષો દૂર કરી હળની ૧ ખેડ અને કરબ ની ૨ થી ૩ ખેડ કરી જમીન સમતલ અને ભરભરી બનાવવી.
		</p>
		<hr>

		<h4  class="mt-4 heading">ખાતર</h4>
		<p class="cp">
			દેશી ખાતર : ગંઠવા કૃમિ જેવા દુશ્મનને આવતો જ અટકાવવા માટે વાવવાના 10 દિવસ અગાઉ પ્રેસમડ કે મરધાનું ખાતર કે છાણીયું ખાતર 4 ટન/એકર આપવો.
			રાસાયણિક ખાતર : સારા વિકાસ માટે 10 કિલો નાઈટ્રોજન (27 કિલો યુરિયા) અને 20 કિલો ફોસ્ફરસ (125 કિલો SSP) વાવણી વખતે ચાસમાં ઑરીને આપવો
			સારા વિકાસ માટે વાવણી સમયે 8 કિલો ઝીંક સલ્ફેટ અને 10 કિલો ફેરસ સલ્ફેટ/એકર મુજબ આપવું.
			સારા વિકાસ અને વધુ ઉત્પાદન માટે ફૂલ બેસવાની અવસ્થાએ 10 કિલો નાઈટ્રોજન (27 કિલો યુરિયા) + 5 kg સૂક્ષ્મ તત્વોનું મિશ્રણ (અનમોલ માઇક્રો,પૂરક)/એકર મુજબ આપો.

			પાણીમાં દ્રાવ્ય ખાતરોનું છંટકાવ સમયપત્રક : સારા વિકાસ માટે વાવણીના 30 દિવસે MAP (12:61:00) @100gm + હુમિક એસિડ12-14% @50ml + સ્ટિકર @6ml/10Ltr પાણી પ્રમાણે છાંટો.
			સારા ફૂલ માટે MAP (12:61:00) @100gm + હુમિક એસિડ12-14%@50ml + ક્લોર મેકુએટ ક્લોરાઇડ (લિહોસીન) @6ml + સ્ટિકર @6ml/10Ltr પાણી મુજબ વાવણીના 45 દિવસે છાંટો.
			દાણા ના સારા વિકાસ માટે વાવણીના 60 દિવસે SOP (00:00:50) @100gm + હુમિક એસિડ12-14% @50ml + સ્ટિકર @6ml/10Ltr પાણી પ્રમાણે છાંટો.

		</p>
		<hr>

		<h4  class="mt-4 heading">પિયત</h4>
		<p class="cp">			
			ઉનાળુ પાકના સારા વિકાસ માટે વાવેતર બાદ તરત પિયત આપવું. બીજું 6 દિવસ બાદ એમ 8-10 પિયત 8-10 દિવસ ના અંતરે આપવા.
			જમીનમાના ભેજને સાચવવા માટે બે હાર વચ્ચે વાનસ્પતિક કચરો પાથરી આવરણ કરવું તેનાથી પિયતની સંખ્યા ઘટાડી શકાય છે.

		</p>
		<hr>
		<h4  class="mt-4 heading">નિંદામણ</h4>
		<p class="cp">			
			સંશોધન મુજબ નીંદણથી 70% જેટલું ઉત્પાદન ઘટી શકે છે, નિયંત્રણ માટે વાવણી પછી 48 કલાકમાં પેન્ડીમેથાલીન (સ્ટોમ્પ એકસ્ટ્રા) @700 મિલી/એકર/200 લિટર પાણી મુજબ ભેળવી છાંટો.
			નીંદણ નિયંત્રણ માટે વાવણીના 15 અને 30 દિવસે એમ બે વખત આંતરખેડ અને હાથનીંદામણ કરવું.
			ઊભા પાક માં નીંદણ નિયંત્રણ માટે ઈમાઝેથાપર10%SL (પરશુટ, રૂબ્બ) @500 ml/એકર/160Ltr પાણી મુજબ વાવણી ના 20-25 દિવસે છાંટો.

		</p>
		<hr>
		<h4  class="mt-4 heading">જીવાતો</h4>
		
			<h5 class="mt-3">પાન વાળનારી ઇયળ:</h5>
			<p class="cp">
			ખેડૂતો આ જીવાતને તલના “માથા બાંધનારી ઈયળ” ના નામથી પણ ઓળખે છે. પાકના વાવેતર પછી તરત જ ખેતરમાં પ્રકાશપિંજર ગોઠવવાથી જીવાતનાં કૂદાનો નાશ થતા જીવાત કાબૂમાં રહે છે. જેવિક કીટનાશક દવા જેવી કે બીવેરીયા બેઝીયાના પ ગ્રામ/લિટર અથવા લીંબોળીના મીંજનું પ% દ્રાવણ (૧૦ લિટર પાણીમાં પ૦૦ ગ્રામ મીંજનો ભૂકો) જીવાતનો ઉપદ્રવ શરૂ થયેથી ૧૫ દિવસના અંતરે ૩ છટકાવ કરવા. કિવનાલફોસ ર૦ મિ.લિ. અથવા ડાયકલોરવોસ ૭ મિ.લિ. પૈકી કોઈપણ એક દવા ૧૦ લિટર પાણીમાં મેળવી વાવેતર પછી ૩૦, ૪૫ અને ૬૦ દિવસે એમ ત્રણ છટકાવ કરવાથી સારૂ નિયંત્રણ મળે છે.
			</p>
			
			<h5 class="mt-3">ગાંઠીયા માખી:</h5>
			<p class="cp">
			પાકમાં કળીઓ બેસવાની શરૂઆત થાય એટલે ડાયમીથોએટ ૧૦ મિ.લિ. અથવા ડાયકલોરવોસ ૮ મિ.લિ. અથવા કિવનાલફોસ ર૦ મિ.લિ. અથવા મીથાઈલ-ઓ-ડીમેટોન ૧૦ મિ.લિ. પૈકી કોઈપણ એક દવા ૧૦ લિટર પાણીમાં મેળવી છટકાવ કરવો.
			</p>

			<h5 class="mt-3">પાનકથીરી</h5>
			<p class="cp">
			ખેતરની ફરતે આડશ ન હોય તેવું ખેતર તલના વાવેતર માટે પસંદ કરવું જેથી પવનની અવરજવર રહે અને પાનકથીરીનો ઉપદ્રવ ટાળી શકાય. આ જીવાતનો ઉપદ્રવ શરૂ થાય કે તરત જ ડાયકોફોલ ર૦ મિ.લિ. અથવા દ્રાવ્ય ગંધક ૧૭ ગ્રામ પ્રતિ ૧૦ લિટર પાણીમાં મેળવી છટકાવ કરવો. જરૂર જણાય તો બીજો છટકાવ ૧૦ દિવસ બાદ કરવો.
			</p>
			

			<h5 class="mt-3">ભૂંતીયું ફુદું</h5>
			<p class="cp">
			ઉપદ્રવ ઓછો હોય તો ઈયળોનો હાથથી વીણી નાશ કરવો. રાત્રિના સમયે ખેતરમાં પ્રકાશ પિંજર ગોઠવવવાથી કૂદાનો નાશ થતાં જીવાત કાબૂમાં રહે છે. વધારે ઉપદ્રવ હોય તો કિવનાલફોસ ૧.૫% ભૂકી હેકટરે ર૦ કિલો મુજબ છાંટવી.
			</p>

			<h5 class="mt-3">સફેદ માખી:</h5>
			<p class="cp">
			આ જીવાતના નિયંત્રણ માટે ટ્રાયઝોફોસ ૪૦ ઈ.સી. ૧૫ મિ.લિ., એસીફેટ ૭૫ એસપી ૧૫ ગ્રામ, મિથાઈલ-ઓ-ડીમેટોન ૧૨ મિ.લિ., લીમડા આધારીત ૦.૧૫% એઝાડીરેકટીનવાળી દવા પO મિ.લિ. પૈકી કોઈપણ એક દવા ૧૦ લિટર પાણીમાં મેળવી છટકાવ કરવો. જરૂર જણાય તો બીજો છટકાવ ૧૦ દિવસ પછી કરવો.
			</p>
			<hr>

			<h4  class="mt-4 heading">રોગો</h4>
			<h5 class="mt-3">પાનનાં ટપકા:</h5>
			<p class="cp">બીજને વાવેતર કરતા પહેલા પ્રતિ કિલોગ્રામ બીજ દીઠ ૩ ગ્રામ થાયરમ ૭૫% દવાનો પટ્ટ આપીને વાવેતર કરવું.
			રોગની શરૂઆત થતા કાર્બેન્ડાઝીમ પ૦% વે..પા દવા ૧૦ લિટર પાણીમાં ૧૦ ગ્રામ પ્રમાણે મેળવી છટકાવ કરવો. બીજો છટકાવ પંદર દિવસ બાદ કરવો.
			</p>
			<h5 class="mt-3">સુકારો</h5>
			<p class="cp">રોગ જમીનજન્ય હોવાથી જે જમીનમાં રોગ જોવા મળે ત્યાં બીજા વર્ષે તલનું વાવતર કરવું નહિ.
			તલના વાવેતર કરતા પહેલા એક કિ.ગ્રા.બીજને ત્રણ ગ્રામને હિસાબે થાયરમ ફૂગનાશક દવાનો પટ્ટ આપવો.
			તલ ગુજરાત-ર જેવી સુધારેલ જાતોનું વાવેતર કરવું.
			</p>

			<h5 class="mt-3">થડ અને મૂળનો સુકારો</h5>
			<p class="cp">રોગમુકત બીજની પસંદગી કરવી.	
			બીજને થાયરમ દવા (૪ થી ૫ ગ્રામ / કિ.ગ્રા. બીજ) ની માવજત આપી વાવવા.
			ઊભા પાકમાં રોગની શરૂઆત થાય ત્યારે મેનકોઝેબ ૭૫% વે..પા.ર૦ ગ્રામ તેમજ કાર્બેન્ડાઝીમ પ૦% વે..પા. ૧૦ ગ્રામ દવા ૧૦ લિટર પાણીમાં ઓગાળીને છોડના દરેક ભાગ પર વ્યવસ્થિત છટકાવ કરવો. જરૂર જણાય તો બીજો છટકાવ કરવો.
			</p>

			<h5 class="mt-3">પાનનો કોકડવા અને ગૂછાપણ</h5>
			<p class="cp">આ રોગ કીટક દ્વારા ફેલાતો હોવાથી નિયંત્રણ માટે કીટનાશક દવા જેવી કે ફોસ્ફામીડોન (૧૦ લિટર પાણીમાં ૩ મિ.લિ. દવા) કે ડાયમીથીઓટ (૧૦ લિટરમાં ૨૦ મિ.લિ. દવા) નો છંટકાવ બે વખત ૧૦ દિવસના અંતરે કરવાથી આ રોગ ફેલાવતા કીટકોનું નિયંત્રણ કરી શકાય છે જેથી રોગનો ફેલાવો અટકે</p>


	</div>
	</div> 
	</div>
{% endblock body %}












