{% extends 'base.html' %}
{% load static %}
{% block css %}
h5,.heading
{

	font-weight:bold;
	color:#035715;
}
.cp{
	text-indent:50px; 
	letter-spacing:1px;
	word-spacing:3px;
	font-size :16px;
	line-height:1.4
}
{% endblock css %}
{% block body %}
<div class="container">
			 <h3 class="text-center mb-3" style="color: #035715"><b >ઘઉં</b></h3>
	<div class="row container col-lg-12 col-12 col-md-12 col-sm-12 ">
		<div class="col-lg-4  col-md-6 col-sm-12"  !important>
			<img src="{% static 'project_images/wheat.jpg '%}" class="mb-3" width="300px">
		</div>
		<div class="col-lg-8 col-md-6 col-sm-12 text-left">	
			 	
			 	<p class="cp">
			 		
			 	 ઘઉએ (wheat) માનવજાતના ખોરાક તરીકે વપરાશમાં આવતો ખૂબ જ અગત્યનો ધાન્ય વર્ગનો પાક છે. ભારતમાં ઘઉંની ત્રણ પ્રજાતિ ટ્રીટીકમ એસ્ટીવમ (પિયત), ટ્રીટીકમ ડયુરમ (બિનપિયત) અને ટ્રીટીકમ ડાયકોકમ (પોપટીયા) નું વાવેતર કરવામાં આવે છે. જે પૈકી લગભગ ૯૦ ટકા વિસ્તારમાં એસ્ટીવમ એટલે કે પિયત ઘઉંનું વાવેતર થાય છે અને દેશના લગભગ બધા જ રાજયોમાં વવાય છે. ગુજરાત રાજયમાં વવાતા કુલ પાકોના વિસ્તાર પૈકી ૧/૪ વિસ્તાર ધાન્ય પાકો હેઠળ છે. જેમાં ૧/૪ વિસ્તાર સાથે ઘઉં મોખરાનું સ્થાન ધરાવે છે. રાજયમાં ઘઉં મુખ્યત્વે મહેસાણા, બનાસકાંઠા, રાજકોટ, ખેડા, અમદાવાદ, અમરેલી, જુનાગઢ જિલ્લાઓમાં વધારે થાય છે. રાજયમાં ૮૨ ટકા લાખ હેકટર વિસ્તારમાં ઘઉંનું (wheat) વાવેતર થાય છે અને તેનો ઉપયોગ મુખ્યત્વે રોટલી અને બ્રેડ બનાવવા થાય છે.
				</p>
		</div>
			 	
		</div>

		<h4  class="mt-4 heading">જમીન અને જમીનની તૈયારી</h4>
		<p class="cp">ઘંઉના (wheat) પાકને કાળીથી મધ્યમ કાળી, ગોરાડુ, કાંપાળ, રાતી, કાંકરીયાળી, સારા નિતારવાળી જમીન વધારે અનુકૂળ આવે છે. જમીનને દાંતી-રાપ કરીને વાવેતર માટે તૈયાર કરવી. ઘઉં માટે વધુ પડતી ઉંડી ખેડ કરવી નહીં, કારણ કે વધારે ઉંડી પાંહને કારણે ઘઉં પાછલી અવસ્થાએ ઢળી જવાની શકયતા રહે છે. ચોમાસુ પાકની કાપણી પછી ટ્રેકટરની દાંતી બે વાર અને રાંપ એક વાર ચલાવી આગલા પાકના જડીયા તથા મૂળીયા દૂર કરી, સમાર મારી, જમીન વાવણી માટે તૈયાર કરવી. જમીન તૈયાર કરતી વખતે હેકટર દીઠ ૧૦-૧૨ ટન છાણીયું ખાતર નાંખવું.
		</p>
		<hr>
		<h4  class="mt-4 heading">બિયારણ, બીજદર અને બીજ માવજત</h4>
		<p class="cp">જનીનિક તેમજ ભૌતિક શુધ્ધતાવાળું, ઉત્તમ સુરણ કશકિત ધરાવતું, પૂર્ણ વિકસીત, ભરાવદાર, આખા તથા જીવાતના ડંખ વગરનું બીજ વધુ ઉત્પાદનની ચાવી છે. ઘઉંના બીજની દર ત્રણ વર્ષે ફેરબદલી કરવી જોઇએ. પિયત વિસ્તાર માટે ભલામણ કરેલ સુધારેલ જાતો જોઇએ તો સમયસરની વાવણી (૧૫ નવેમ્બર) માટે લોક-૧, જી. ડબલ્યુ-૪૯૬, ૩રર, પ૦૩, ૩૬૬, ૧૯૦, ર૭૩ અને મોડી વાવણી (૫ થી ૧૫ ડીસેમ્બર) માટે જી. ડબલ્યુ-૧૭૩, ૧૨૦, ૪૦૫, લોક-૧ અને સોનાલીકા. બીજદરની વાત કરીએ તો મોટા દાણાની જાત માટે ૧રપ કિલોગ્રામ/હેકટર અને નાના દાણાની જાત ૧૦૦ કિગ્રા/હેકટર બીજદર રાખવો. બીજ માવજતની વાત કરીએ તો ૧ કિગ્રા બિયારણ દીઠ ૩ થી ૪ ગ્રામ પારાયુકત દવા થાયરમ, કેપ્ટાન કે એમિસનનો પટ આપવો. અનાવૃત અંગારીયાના નિયંત્રણ માટે ૧ કિગ્રા બીજ દીઠ ર.૫ થી ૩ ગ્રામ વાયટાવેલ અથવા કાર્બેન્ડીઝમ દવાનો પટ આપવો અથવા બીજને વાવતા પહેલા ઠંડા પાણીમાં ૪ કલાક પલાળવા, ત્યારબાદ ગેલ્વેનાઇઝ પતરા પર સૂર્યના તાપમાં બપોરના ૩ કલાક તપાવવા, આવી રીતે બે વાર કરીને બિયારણ ઉપયોગમાં લઇ શકાય.
		</p>
		<hr>

		<h4  class="mt-4 heading">વાવેતર સમય, અંતર અને પધ્ધતિ</h4>
		<p class="cp">
			ઘંઉને (wheat) ઠંડુ અને સુકુ હવામાન અનુકૂળ છે. ૧૫ નવેમ્બર આસપાસ વાવેતર કરવું, જેથી વધુ ઠંડીનો સમયગાળો મળી રહે. સમયસર વાવણી કરવાથી ઘઉંના ઉત્પાદનમાં ૨૦ ટકા જેટલો વધારો જોવા મળે છે. સમયસરની વાવણી માટે બે ચાસ વચ્ચે રર.૫ સે.મી. અને મોડી વાવણી માટે બે ચાસ વચ્ચે ૧૮ સે.મી. અંતર રાખીને વાવણી કરવી. સ્વયંસંચાલિત સીડ કમ ફર્ટીલાઇઝર્સ ડ્રીલથી વાવણી કરવાથી બીજનો બચાવ થાય છે. તેમજ ખાતર ચાસૂમાં બીજની નીચે પડતું હોવાથી ખાતરનો કાર્યક્ષમ ઉપયોગ થઇ શકે છે અને ત્યારબાદ પાણી આપવાથી એકમ વિસ્તારમાં સમાન ઉગાવો મળે છે અને હેકટર દીઠ પર્યાપ્ત માત્રામાં છોડની સંખ્યા મળવાથી ઉત્પાદનમાં વધારો થાય છે.
		</p>
		<hr>

		<h4  class="mt-4 heading">ખાતર</h4>
		<p class="cp">
			આશરે એક વિઘે ૧.૫ થી ર ટન (છ ગાડા) સારૂ કોહવાયેલ ગળતીયું ખાતર જમીન પર પાથરીને જમીનમાં બરાબર ભેળવી દેવું. ઘઉંના પાકને સામાન્ય રીતે ૧૨૦:૬૦:૫૦ કિગ્રા નાઇટ્રોજન, ફોસ્ફરસ અને પોટાશ તત્વ/હેકટર જરૂરિયાત રહે છે. જેથી ડી.એ.પી. ર૧ કિગ્રા, પોટાશ ૧૦ કિગ્રા અને યુરિયા ૧૩ કિગ્રા/વિઘા પાયામાં વાવણી સમયે આપવું અને યુરિયા ૨૧ કિગ્રા/વિઘા વાવણી પછી ૨૦-૨૫ દિવસે પૂર્તિ ખાતર તરીકે આપવું. જો ઝીંકની ઉણપ હોય તો ( ૪ કિગ્રા/વિઘે ઝીંક સલ્ફટ ત્રણ વર્ષે એકવાર આપવું. ઘઉંના બીજને એઝોટોબેકટર અને કોસ્ફરસ સોલ્યુબીલાઇઝીંગ બેકટેરીયાનો ૩૦ ગ્રામ/૧ કિગ્રા. બીજ મુજબ પટ આપવાથી રાસાયણિક ખાતરની બચત કરી શકાય છે અને પાક ઉત્પાદન વધારી શકાય છે.
		</p>
		<hr>

		<h4  class="mt-4 heading">પિયત</h4>
		<p class="cp">			
			પાક ઉત્પાદનમાં મુખ્ય ઘટકો પૈકી ખાતર પછી પિયત બીજા ક્રમે આવે છે. જેનો ફાળો પાક ઉત્પાદનમાં ર૭ ટકા જેટલો રહેલો છે. ઘઉંના પાકને પાણીની જરૂરિયાત જમીનના પ્રકાર, હવામાન અને જાત ઉપર આધાર રાખે છે. સામાન્ય રીતે ઘઉંને ૧૦-૧૨ પિયતની જરૂરિયાત રહે છે. ઘઉંની મુકુટ મૂળ, કુટ, ગાભ અવસ્થા, ડુંડી, દુધિયા દાણા અને પોંક અવસ્થાએ પાણીની ખેંચ પડવી જોઇએ નહીં. તેમજ છેલ્લા બે પિયત આપવાના સમયે પવનની ઝડપ ઓછી હોય તે ખાસ ધ્યાન રાખવું. જેથી ઘઉં ઢળતા અટકાવી શકાય.
		</p>
		<hr>
		<h4  class="mt-4 heading">નિંદામણ</h4>
		<p class="cp">			
			નિંદામણ હંમેશા પાક સાથે જગ્યા, હવા, પ્રકાશ અને પોષક તત્વો માટે હરિફાઇ કરે છે અને ઉત્પાદનમાં ર૭ ટકા જેટલો ઘટાડો કરે છે. પુરતા મજૂર મળતા હોય ત્યાં ર૦ અને ૪૦ દિવસે હાથથી નિંદામણ કરવું. મજૂરો ન મળતા હોય ત્યાં પ્રિઇમરજન્સ તરીકે પેન્ડીમીથીલીન નિંદામણનાશક દવા પ૫ મીલી ૧૦ લી. પાણીમાં વાવણી કર્યા બાદ, ૨૪ કલાકમાં, જમીનની સપાટી ઉપર પુરતો ભેજ હોય ત્યારે ફલેટફેન નોઝલથી છંટકાવ કરવો. ઉભા પાકમાં પહોળા પાનવાળા નિંદામણના નિયંત્રણ માટે વાવણી બાદ ૩૦ થી ૩પ દિવસે ર-૪ ડી (સોડીયમ સોલ્ટ) નિંદામણનાશક દવા ૧૦ લીટર પાણીમાં ૧ર ગ્રામ, પાક રપ-૩૦ દિવસનો થાય ત્યારે છંટકાવછ. કરવો. ઉભા પાકમાં કુતરા નિંદણ (ફેલારીસા માયનોર)ના નિયંત્રણ માટે ચોપર (કલોડીનાફોપ પ્રોપરગાઇલ ૧૫ ટકા વેટેબલ પાવડર) નામની નિંદામણનાશક દવાનું એક પાઉચ ૧૫ લીટર પાણીના એક પંપમાં નાંખીને છંટકાવ કરવો.
		</p>
		<hr>
			<h4  class="mt-4 heading">પાક સંરક્ષણ</h4>
		<p class="cp">			
			નિંદામણ હંમેશા પાક સાથે જગ્યા, હવા, પ્રકાશ અને પોષક તત્વો માટે હરિફાઇ કરે છે અને ઉત્પાદનમાં ર૭ ટકા જેટલો ઘટાડો કરે છે. પુરતા મજૂર મળતા હોય ત્યાં ર૦ અને ૪૦ દિવસે હાથથી નિંદામણ કરવું. મજૂરો ન મળતા હોય ત્યાં પ્રિઇમરજન્સ તરીકે પેન્ડીમીથીલીન નિંદામણનાશક દવા પ૫ મીલી ૧૦ લી. પાણીમાં વાવણી કર્યા બાદ, ૨૪ કલાકમાં, જમીનની સપાટી ઉપર પુરતો ભેજ હોય ત્યારે ફલેટફેન નોઝલથી છંટકાવ કરવો. ઉભા પાકમાં પહોળા પાનવાળા નિંદામણના નિયંત્રણ માટે વાવણી બાદ ૩૦ થી ૩પ દિવસે ર-૪ ડી (સોડીયમ સોલ્ટ) નિંદામણનાશક દવા ૧૦ લીટર પાણીમાં ૧ર ગ્રામ, પાક રપ-૩૦ દિવસનો થાય ત્યારે છંટકાવછ. કરવો. ઉભા પાકમાં કુતરા નિંદણ (ફેલારીસા માયનોર)ના નિયંત્રણ માટે ચોપર (કલોડીનાફોપ પ્રોપરગાઇલ ૧૫ ટકા વેટેબલ પાવડર) નામની નિંદામણનાશક દવાનું એક પાઉચ ૧૫ લીટર પાણીના એક પંપમાં નાંખીને છંટકાવ કરવો.
		<hr>
		
			<h5 class="mt-4"><b>ઉધઇ</b></h5>
			 <p class="cp">કલોરપાયરીફોસ (૨૦ ટકા) દવા ૪૫૦ મીલી અથવા હેપ્ટાફલોર (ર૦ ટકા) દવા ૪૦૦ મીલી પ્રમાણે ૫ લીટર પાણીમાં મેળવીને તે દ્રાવણથી ૧રપ કિગ્રા બીજને મોણ (માવજત) આપી એક રાત રહેવા દઇને બીજા દિવસે વાવવું. ઉભા પાકમાં કલોરપાયરીફોસ (૨૦ ટકા) દવા ૨.૪ લીટરને ૫ લીટર પાણીમાં ઓગળીને ૧૦૦ કિગ્રા રેતીમાં ભેળવીને પાકમાં પુંકીને હળવું પિયત આપવું. ઘંઉના સિંઘલ અવસ્થાએ કલોરપાયરીફોસ ૨૦ ટકા દવા ૧.રપ૦ લીટર/હેકટર પ્રમાણે ૪૦-૫૦ દિવસે પિયતના પાણીમાં ટીપા પધ્ધતિથી આપવી.
			 </p>
			 <hr>
			<h5 class="mt-4"><b >ગાભમારાની ઇચળ</b></h5>	
			 <p class="cp">ફેનીટ્રોથીયાન (૫૦ ઇ.સી.) ૨૦. મી.લી. પાણીમાં મિશ્રણ કરી દવાના બે છંટકાવ વાવણી પછી ૪પ થી પપ દિવસે કરવા.</p>
			 <hr>

			 <h5 class="mt-4"><b >લીલી ઇયળ</b></h5>
			<p class="cp">લીંબોળીનું તેલ ૩૦ મીલી ૧૦ લી. પાણીમાં મિશ્રણ કરી ઘઉં ઉગી નીકળ્યા બાદ ૧૫ દિવસના અંતરે બે છંટકાવ કરવા.</p>
			<hr>

			 <h5 class="mt-4"><b >ખપેડી</b></h5>
			 <p class="cp">
			પાક ઉગે ત્યારે અથવા કુટ અવસ્થાએ મીથાઇલ પેરાથીયોન ૨ ટકા ભુકી હેકટરે રપ કિગ્રા પ્રમાણે છાંટવી.
			</p><hr>

			 <h5 class="mt-4"><b >ગેરૂ</b></h5>
				<p class="cp">
			 મેન્કોઝેબ અથવા ઝાયરેબ દવા ર૭ ગ્રામ / ૧૦ લી. પાણી મુજબ છંટકાવ કરવો. જરૂર જણાયે વિધારાના બે છંટકાવ ૧૫ દિવસના અંતરે કરવા.</p><hr>


			 <h5 class="mt-2"><b >પાનનો સુકારો</b></h5>
			 <p class="cp">મેન્કોઝેબ દવા ર૭ ગ્રામ / ૧૦ લી પાણી મુજબ છંટકાવ કરવો. જરૂર જણાયે વધારાના બે છંટકાવ ૧૫ દિવસના અંતરે કરવા.</p><hr>

			 <h5 class="mt-2"><b >કાળી ટપકી</b></h5>
			 <p class="cp">મેન્કોઝેબ (૩૦ ગ્રામ) અથવા કલોરોથીલોનીલ (૨પ ગ્રામ) ૧૦ લી. પાણીમાં ઓગાળી છંટકાવ કરવો.</p>
	</div>
	</div> 
	</div>
{% endblock body %}












