{% extends 'admin/base.html' %}

{% load static %}

{% block branding %}

	{% block extrastyle %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
		<style type="text/css">
			/*search user btn */

#changelist #toolbar form input[type="submit"] {
    border: 1px solid #06ac2a !important;
    padding: 4px 12px !important;
    margin: 0 0 0 0;
    vertical-align: middle;
    background: #059424 !important;
    box-shadow: 0 -15px 20px -10px rgb(0 0 0 / 15%) inset;
    cursor: pointer;
    color: #fff !important;
}    


#changelist .actions .button {
    border: 1px solid #06ac2a !important;
    padding: 4px 12px !important;
    background: #059424 !important;
    color: #fff !important;
}

/*filter */
.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    background: #035715;
    color: #fff;
}

#changelist-filter a{
	font-size: 15px;
	font-weight:bold;
	color:#059424 !important;
} 
#changelist-filter a:hover{
	font-weight:bold;
	color:#035715 !important;
} 


		</style>
	{% endblock extrastyle %}
	
	<h1 >
		<img src="{% static 'project_images/logo-header-admin.png' %}" alt="BB" style="width: 71px;margin:10px">
		BeejBazaar
	</h1>

{% endblock branding %}